{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static '/coloring/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/css/main.css' %}" />

  <script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
    /* iPhone SE ~ 320*568 */
    .h-top {
      height: 118px;
    }

    #b1-1, #b1-2, #b1-3 {
      padding-top: 16px;
      background: #e5e5e5;
      text-align:center
    }

    #b2-1, #b3-1, #b4-1, #b2-2, #b3-2, #b4-2{
      padding-top: 16px;
      background: #e5e5e5;
      font-size:12px;
      text-align:center;
    }

  </style>
</head>

<body>
  <br><br><br><br>
  <div class="container-fluid" style="width:320px">
    <div class = "row">
      <div id = "b1-1" class="h-top" style="width:80%;font-size:20px; padding-top:8px;">  </div>
      <a href="{% url 'settings' %}" style="width:20%;font-size:30px;color:black;">
        <div id = "b1-2" class="h-top"> ⚙️ </div>
      </a>
    </div>

    <div class = "row">
      <div id = "b2-1" class="w-50 h-img p-3">
        <img src="{% static 'coloring/images/triangles.svg' %}"/>
      </div>
      <div id = "b2-2" class="w-50 h-img p-3">
        <img src="{% static 'coloring/images/mandala-freepik.svg' %}"/>
      </div>

    </div>

    <div class = "row">
      <div id = "b3-1" class="w-50 h-img">
        <img src="{% static 'coloring/images/mandala-freepik-simple.svg' %}"/>
      </div>
      <div id = "b3-2" class="w-50 h-img"> img </div>
    </div>

    <div class = "row">
      <div id = "b4-1" class="w-50 h-img p-3"> img </div>
      <div id = "b4-2" class="w-50 h-img p-3"> img </div>

    </div>
  </div>
</body>

</html>
