{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>
		<link rel="stylesheet" type="text/css" href="{% static '/coloring/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/main.css' %}" />

		<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body>
		<canvas id="myCanvas" width="750px" height="750px"></canvas>
		<div id="color-palette"></div>
		<!-- <input type="button" id="export-button" value="Save SVG"> -->
		<a id="download" download="image.png"><button type="button" onClick="download()">Download</button></a>
		<script type="text/javascript">
			// http://paperjs.org/features/#svg-import-and-export
			// function downloadDataUri(options) {
			// 	if (!options.url)
			// 		options.url = "http://download-data-uri.appspot.com/";
			// 		$('<form method="post" action="' + options.url
			// 		+ '" style="display:none"><input type="hidden" name="filename" value="'
			// 		+ options.filename + '"/><input type="hidden" name="data" value="'
			// 		+ options.data + '"/></form>').appendTo('body').submit().remove();
			// 	}
			//
			// $('#export-button').click(function() {
			// 	var svg = project.exportSVG({ asString: true });
			// 	downloadDataUri({
			// 		data: 'data:image/svg+xml;base64,' + btoa(svg),
			// 		filename: 'export.svg'
			// 	});
			// });

			// https://stackoverflow.com/questions/11112321/how-to-save-canvas-as-png-image
			function download(){
        var download = document.getElementById("download");
        var image = document.getElementById("myCanvas").toDataURL("image/png")
                    .replace("image/png", "image/octet-stream");
        download.setAttribute("href", image);

    	}
		</script>
</body>
</html>
