{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Settings</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static '/coloring/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/css/main.css' %}" />

  <script src="{% static 'coloring/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <style type="text/css">
    .h-6{
      height: 12vh;
    }

    #b1, #b2, #b3, #b4, #b5, #b6 {
      padding-top: 2vh;
      background: #c4c4c4;
      text-align: center;
    }
  </style>
</head>

<body>
  <br><br><br><br>
  <div class="container-fluid" style="width:25%">
    <div class = "row">
      <div id = "b1" class="w-100 h-6" style="font-size:60px;"> ⚙️ </div>
    </div>

    <div class = "row">
      <div id = "b2" class="w-100 h-6"> </div>
    </div>

    <div class = "row">
      <div id = "b3" class="w-100 h-6"> </div>
    </div>

    <div class = "row">
      <div id = "b4" class="w-100 h-6"> </div>
    </div>

    <div class = "row">
      <div id = "b5" class="w-100 h-6"> </div>
    </div>

    <div class = "row">
      <div id = "b6" class="w-100 h-6"> </div>
    </div>
  </div>
</body>

</html>
